.login-container{
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(45deg, rgba(146, 3, 148, 0.5) 0%,  rgba(13, 187, 199, 0.5) 100%),
    /* bottom, image */
    url(/assets/imgs/login-bg.jpg);

    background-size: cover;
    background-position: center center;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header {
    position: absolute;
    top: -18%;
    left: 10%;
    right: 10%;
    background: #00bcd4;
    padding: 0.5em;
    font-size: 1.3em;
    border-radius: 4px;
    color: white;
}